
  
  .example-full-width {
    width: 90%;
  }

  .vedette{
    padding:20px;
    margin:20px; 
    border: 3px solid blue;
  }

  .pasVedette{
    padding:20px;
    margin:20px; 
    border: 3px solid black;
  }

/* CSS to change Default/'Accent' color */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue; /*replace with your color*/
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;  /*replace with your color*/
}

/* CSS to change 'Primary' color */

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: green;
}

.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff99ff;
}

/* CSS to change 'Warn' color */

.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: red;
}

.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffe066;
}