

  .apropos{
    min-height: 75vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color:#3F51B5;
    color: papayawhip;
    border-top: 3px solid  #3F51B5;
    border-bottom: 3px solid  #3F51B5;
  }

  .item {
    margin-top: 35px;
  }