<div class='apropos'>  
    <p class='item'>Où et Quand est un site d'aide à la décision pour trouver une destination et préparer un voyage n'importe où dans le monde. </p>
        <p class='item'>Pour cela, nous agrégeons des millions de données afin de vous donner une information objective sur le climat, sur le coût de la vie ou encore sur le prix des vols. </p>
            <p class='item'>Ajoutez à cela notre expertise de voyageurs globe-trotteurs et vous obtenez une information pertinente et de qualité.</p>
    <p class='item'>Nous ne sommes pas une agence de voyages : il y a rien à vendre ici ! Nous ne fournissons que des informations pratiques pour que vos voyages soient les plus beaux et les plus réussis possible !</p>

        <p class='item'>Bonne visite et... bon(s) voyage(s) !</p>
</div>