<mat-toolbar style='color: white; height: 10vh; font-size: 2em; background-color: blue;' >
    <mat-icon>flight</mat-icon>
    <span style="font-size: 95% ; font-style: oblique;"> Voyages Où et Quand...</span>
    <div class='space'></div>
    <a  style="font-size: 55% ;" routerLinkActive="active-link" mat-button routerLink="accueil">Accueil</a>
    <a  style="font-size: 55% ;" routerLinkActive="active-link" mat-button routerLink="forfaitsCuba">Forfaits Cuba</a>
    <a  style="font-size: 55% ;" routerLinkActive="active-link" mat-button routerLink="forfaitsCostarica">Forfaits Costa Rica</a>
    <a  style="font-size: 55% ;" routerLinkActive="active-link" mat-button routerLink="apropos">A propos </a>
    <a  style="font-size: 55% ;" routerLinkActive="active-link" mat-raised-button routerLink="admin" color='primary'>Administration</a>
</mat-toolbar>
